<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VirtualGym.Properties.Settings.VIRTUALGYMConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=VIRTUALGYM;Persist Security Info=True;User ID=sa;Password=@Lcm2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>